canvas
{
    border: dashed black 3px;
    animation-name: cool_color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes cool_color
{
    from
    {
        box-shadow: 1px 1px 30px rgb(255, 0, 0);
    }
    to
    {
        box-shadow: 1px 1px 30px rgb(255, 89, 0);
    }
    to
    {
        box-shadow: 1px 1px 30px rgb(242, 255, 0);
    }
    to
    {
        box-shadow: 1px 1px 30px rgb(0, 255, 34);
    }
    to
    {
        box-shadow: 1px 1px 30px rgb(0, 140, 255);
    }
    to
    {
        box-shadow: 1px 1px 30px rgb(255, 0, 234);
    }
    to
    {
        box-shadow: 1px 1px 30px rgb(100, 0, 153);
    }
}

img
{
    height: 100%;
    width: 100%;
}
  